.inputStyle {
	display : block;
	margin-top: 4px;
	margin-bottom: 16px;
	border-radius: 6px;
	border: 0;
	width: 100%;
	height: 20px;
	padding: 0px 5px
}

.divStyle {
	color: rgba(255, 253, 228, 0.9);
	margin-top: 6px;
	left: 0;
	text-align: left;
	font-size: 1.1rem;
}