*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background: linear-gradient(to right, rgba(12, 12, 12, 0.79), rgba(200, 200, 200, 0.79), rgba(12, 12, 12, 0.79));
  line-height: 1.4;
}

a
{
  text-decoration: none;
}

.App
{
  text-align: center;
}